extends layout
block mainbody
  #mainbody
    h3 Home Loan Amortization Report Tool
    section.forsaleitems
      table
        tr
          th Payment Number
          th Payment Amount
          th Interest Amount
          th Principal
          th Remaining Balance
        tr
          th 1
          th 2000
          th 1000
          th 140000
          th 139000