extends layout
block mainbody
  #mainbody
    h1 Home Loan Optimizer Use Cases
    section.mainbodyitems
      h3 Deciding Range of House you Can Afford
      section.announcements
        p Ever wonder what the range of homes you can afford to buy is? You could do the math to determine the total cost of the loan with fees over the life of the loan, but why do that when you have access to the Home Loan Optimizer Tool!      