doctype html
html
  head
  title= pagetitle
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="/javascripts/menu.js")
  link(rel="stylesheet", type ='text/css', href="/stylesheets/style.css")
  body
    #menu
      section#menuitems
        .menubutton
          h1.menubutton(onclick="menuToggle('hide')") &#9776;
        a(href="/")
          h3.menuhead Home Loan Optimizer
        a(href="/optimize")
          h3.sectrule Optimize Loan
        a(href="/amortization")
          h3 Amortization Schedule
        a(href="/tests")
          h3 Run Tests
        a(href="/about")
          h3.sectrule About Us
        a(href="/contact")
          h3 Contact Us
    #container
      #header
        a(href="/")
          h1.logo Home Loan Optimizer
        .headspace
        h1.menubutton(onclick="menuToggle('show')") &#9776;
        h1.placeholder &#9776;
        h2.navitem
          a(href="/about")
            .clickable-area About Us
        h2.navitem
          a(href="/contact")
            .clickable-area Contact Us
      #panel.left
        section#sections
          .sectionlink
            a(href="/optimize")
              .clickable-area Optimize Loan
          .sectionlink
            a(href="/amortization")
              .clickable-area  Amortization Schedule
          .sectionlink
            a(href="/tests")
              .clickable-area Run Tests
      block mainbody
      #footer
        p Copyright &copy; 2025 Rieschick Industries