extends layout
block mainbody
  #mainbody
    h3 Home Loan Optimizer Tool
    section.forsaleitems
      table
        tr
          th House Cost
          th Down Payment
          th Loan Principal
          th Extra Monthly Payment
          th Buy Down Rate 
          th PMI Monthly Cost 
          th Length of Loan 
          th Monthly Expense
        tr
          th 140000
          th 7000
          th 133000
          th 630
          th 4.8847
          th 50.98 
          th 129
          th 1590.65