extends layout
block mainbody
  #mainbody
    h3 Home Loan Optimizer Testing Tool
    p Used to validate the math behind the scenes is working as expected.
    section.forsaleitems
      table
        tr
          th Test Name
          th Result
          th Expected Result
          th Test Passed
        tr
          th testGetMortgageAmount
          th 1262.80
          th 1262.8
          th TRUE